# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
*.swp
*.iml
.idea/
target/

access_log
prof.cpu
bindata.go
snapshot
*.test
*.log
apps/kafka/kafka
apps/gitlabtool/gitop/gitop
cmd/kateway/kateway
cmd/kateway/prof.cpu
cmd/kateway/prof.mem
cmd/kateway/ssl
cmd/kguard/kguard
cmd/ehaproxy/ehaproxy
cmd/actord/actord
cmd/ehaproxy/.haproxy.cf
cmd/kateway/bench/bench
cmd/kateway/bench/httpdserver
cmd/influxwatch/influxwatch
cmd/kateway/demo/pub
cmd/zk/zk
panic.dump
cmd/kateway/webhook/webhook
cmd/gk/gk
misc/scripts
prof/
cmd/kateway/DEPLOY.md
cmd/kateway/gateway/cover
audit/
cpuprof
prof.mem
access_log*
cmd/kateway/hhdata/
cmd/kateway/hh/disk/hh/
cmd/kateway/demo/java/PubsubDemo/target
cmd/kateway/docs.go
cmd/kateway/swagger-ui/
cmd/kateway/torch.svg
cmd/kateway/trace.out
cmd/helix/helix
